* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    }
    
    .container {
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
    }
    section{
        background-color: white;
        height: 1364px;
        margin-left: 240px;
    }
    .proeqtebi{
        width: 166px;
        height: 22px;
        font-size: 18px;
        text-align: right;
        margin-top: 70px;
        margin-left: 1258px;
        border-left: 10px;
        border-color: black;
        font-weight: bold;
    }
    .partniorebi{
        width: 226px;
        height: 38px;
        font-size: 32px;
        color:#171717;
        font-weight: bold;
    }
    #punkt{
        width: 70px;
        height: 10px;
        margin-left: 1143px;
        display: flex;
    }
    .punkt1{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: blue;
        margin-right: 20px;
    }
    .punkt2{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgb(125, 125, 133);
        margin-right: 20px;
    }
    .punkt3{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgb(171, 171, 185);
        margin-right: 0px;
    }
    #box-1{
        display: flex;
        height: 38px;
        margin-top: 278px;
        align-items: center;
    }
    .text{
        width: 463px;
        height: 99px;
        font-size: 16px;
        margin-right: 269px;
    }
    .line1{
        display: flex;
       margin-top: 60px;
       align-content:space-between;
    }
    img{
        width: 219px;
        height: 82px;
        filter: grayscale;
    }
    .logo{
        display: grid;
        grid-template-columns: 1fr 1fr  1fr;
        grid-auto-rows: 219px;
        grid-auto-columns: 82px;
        gap: 25px;
        grid-row-start: auto;  
    }
    
    .item1{
        grid-row:span;
    }
    .item2{
        grid-row: span;
    }
    .item3{
        grid-column: span;
    }
    .item4{
        grid-row: span;
    }
    .item5{
        grid-row: span;
    }
    .item6{
        grid-row: span;
    }
    .item7{
        grid-row: span;
    }
    .item8{
        grid-row: span;
    }
    .item9{
        grid-row: span;
    }
     
    
    